/* Mixins */
@mixin placeholder {
	&::-webkit-input-placeholder { 
		@content
	}
	&::-moz-placeholder { 
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
	&:-moz-placeholder { 
		@content
	}
}

@mixin box-shadow($rule) {
	-webkit-box-shadow: $rule;
	-moz-box-shadow: $rule;
	box-shadow: $rule;
}