/* Partials */
//Header
header {
	h5 {
		display:block;
		text-align:left;
		margin:20px;
		color:#fff;
		font-size:1rem; 
	}
	a {
		text-align:right;
		display:block;
		margin:20px;
		font-size:1rem;
		color:#fff;
		text-decoration: none;
		font-weight:300;

		&:hover {
			text-decoration:underline;
		}
	}
}